@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  background: #0d0d1a;
}

#root {
  position: relative;
  min-height: 100vh;
}

.blob-1 {
  position: fixed;
  top: -100px;
  left: -100px;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background: rgba(59, 7, 150, 0.45);
  filter: blur(120px);
  z-index: 0;
  pointer-events: none;
}

.blob-2 {
  position: fixed;
  top: -50px;
  right: -100px;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: rgba(59, 130, 246, 0.3);
  filter: blur(120px);
  z-index: 0;
  pointer-events: none;
}

.blob-3 {
  position: fixed;
  bottom: 0px;
  left: 40%;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: rgba(16, 185, 129, 0.2);
  filter: blur(300px);
  z-index: 0;
  pointer-events: none;
}
